<%= namespace_opening %>class Permission < ::ApplicationRecord
  self.table_name = <%= model_table_name('Permission').inspect %>
  include Writ::PermissionAssociations

  belongs_to :role, class_name: <%= ('::' + model_class_name('Role')).inspect %>
<%- if multi_tenant? -%>
  has_one :<%= scoping_association %>, through: :role
<%- end -%>

  validates :action, presence: true,
                     format: { with: Writ::NAME_FORMAT,
                               message: "must be lowercase, start with a letter, and contain only letters, numbers, and underscores" }
  validates :model, presence: true
  validates :role, presence: true
end
<%= namespace_closing %>
