class Create<%= model_table_name('Scope').camelize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= model_table_name('Scope') %> do |t|
      t.string :model, null: false
      t.string :name, null: false

      t.timestamps
    end

    add_index :<%= model_table_name('Scope') %>, [:model, :name], unique: true, name: <%= index_name(model_table_name('Scope'), 'model_name').inspect %>
  end
end
